*{
        font-family: "Poppins", Sans-serif;
}


.btn{
    background-color:#023368;
    color: white;  
    animation: zoomInOut 4s infinite;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1); /* Start with normal size */
    }
    50% {
        transform: scale(1.1); /* Zoom in 1.5 times */
    }
    100% {
        transform: scale(1); /* Return to normal size */
    }
}
.block{
    background-color: white;
    width: 300px;
    border-radius: 8px;
    margin-top: -40px;
    font-size: 14px;
    /* From https://css.glass */
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(255, 255, 255, 0.09);
}
.brand{
    height: 80px;
  width: 50%;
  background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(142, 141, 141, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width:768px){
    .hidn{
        display:none;
    }
}